@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	@apply m-0 p-0 font-montserrat font-normal;
	background-image: url(../images/bg.jpeg);
}

#container {
	@apply overflow-hidden flex flex-col min-h-full;
}

.main {
	@apply grow;
}

.footer {
	@apply shrink-0;
}

@layer components {
	.container {
		@apply mx-auto max-w-7xl;
	}

	.bottom-arow {
		@apply cursor-pointer duration-500;
	}

	.bottom-arrow.active {
		@apply rotate-180;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.world-news .swiper,
.uzb-news .swiper {
	padding-bottom: 81px !important;
}

.swiper-pagination-bullet-active {
	width: 16px !important;
	height: 16px !important;
	background: linear-gradient(0deg, rgba(102, 102, 102, 0.2), rgba(102, 102, 102, 0.2)), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}

.world-news .swiper-pagination,
.uzb-news .swiper-pagination {
	@apply h-5;
}

.swiper-pagination-bullet {
	@apply opacity-100 w-2 h-2 transition-all;
	background: linear-gradient(0deg, rgba(102, 102, 102, 0.2), rgba(102, 102, 102, 0.2)), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}

.block {
	display: block !important;
}

.active {
	left: 0 !important;
}

@media (max-width: 1300px) {
	.container {
		@apply px-8;
	}
}

@media (max-width: 992px) {
	.articles-box {
		width: 100% !important;
	}
}

@media (max-width: 480px) {
	.container {
		@apply px-4;
	}
}